*.iml
.gradle
.idea
.DS_Store
build
captures
.cxx
*.keystore
*.jks
keystore.properties

# FolkPatch specific signing files
app/folkpatch-release*.jks
keystore.properties
.vscode
.kotlin
app/src/main/resources/
private
